@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-netflixBlack text-white m-0 p-0 font-sans antialiased overflow-x-hidden;
  }
  /* Selection color */
  ::selection {
    background-color: #E50914;
    color: white;
  }
}

@layer utilities {
  .line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}